<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<main class="container p-4">
    <h1 class="text-center mb-3"><%= title %></h1>
    <div class="container statistic-container">
      <button class="btn btn-outline-success" id="print-btn">Print</button>
        <div class="row">
          <div class="col p-2">
            <div class="container bg-light statistic-item d-flex flex-column align-items-center justify-content-center p-3" style="width: 100%; height: 15rem;">
                <h2>Stores</h2>
                <span style="font-size: 5rem;"><%= numberOfStores %></span>
            </div>
          </div>
          <div class="col p-2">
            <div class="container bg-light statistic-item d-flex flex-column align-items-center justify-content-center p-3" style="width: 100%; height: 15rem;">
                <h2>Products</h2>
                <span style="font-size: 5rem;"><%= numberOfProducts %></span>
            </div>
          </div>
          <div class="w-100"></div>
          <div class="col p-2">
            <div class="container bg-light statistic-item d-flex flex-column align-items-center justify-content-center p-3" style="width: 100%; height: 15rem;">
                <h2>Reviews</h2>
                <span style="font-size: 5rem;"><%= numberOfReviews %></span>
            </div>
          </div>
          <div class="col p-2">
            <div class="container bg-light statistic-item d-flex flex-column align-items-center justify-content-center p-3" style="width: 100%; height: 15rem;">
                <h2>Average Rate</h2>
                <span style="font-size: 5rem;"><%= averageRate %>/10</span>
            </div>
          </div>
      </div>
</main>

<%- include partials/footer.ejs %>