<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<main class="container d-flex justify-content-center flex-column align-items-center p-4">
  
  <div class="row justify-content-center mt-2 border border-4 p-3 bg-light form-container" style="width: 60%;">
    <div class="col-md-8">      
      <form method="post">
        <h1 class="text-center mb-3"><%= title %></h1>
        <div class="row g-3">
          <div class="col-md-6">
            <label for="storeName" class="form-label">Name</label>
            <input type="text" class="form-control" id="storeName" name="storeName" value="<%- store.storeName %>" placeholder="" required>
          </div>
          <div class="col-md-6">
            <label for="type" class="form-label">Type</label>
            <input type="text" class="form-control" id="type" name="type" value="<%= store.type %>" placeholder="" required>
          </div>

          <div class="col-sm-12">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" id="location" name="location" value="<%= store.location %>" placeholder="" required>
          </div>         

          <div class="col-sm-12">
            <label for="about" class="form-label">About</label>
            <textarea class="form-control" id="about" name="about" placeholder="" cols="30" rows="5" required><%= store.about %> </textarea>            
          </div>


          <hr class="my-4">
          <div class="container d-flex justify-content-around btn-bottom-container">
            <input class="btn btn-success btn-lg w-25" type="submit" value="Update">
            <a href="/store-list" class="btn btn-warning btn-lg w-25">
              Cancel
            </a>
          </div>
      </form>
    </div>

  </div>

</main>

<%- include ../partials/footer.ejs %>